body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    color: #333;

}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 160px;
    /*height: 100vh; */
    padding-top: 0px;
    padding-bottom: 20px;
    
    margin-top: 40px;
    margin-left: 20px;

    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #eeeeee;

}

.sidebar a {
    display: block;
    /* top-bottom padded by 15px and left-right padded by 20px */
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
    color: #333;
    
}

.sidebar a:hover {
    background-color: #ddd;

}

.sidebar .nihongo-link {
    border: 2px solid #ccc;
    border-radius: 60px;
    text-align: center;
    margin: 5px 10px;
    background-color: white;

}

.page-section {
    margin-left: 200px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    
    padding: 30px;
    
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #eeeeee;

}
.email {
    font-weight: bold;
}

.container {
    /*min-height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 60px;
    padding: 60px;
    box-sizing: border-box;
    
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 40px;
    
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #eeeeee;
}

.photo-section img {
    width: 220px;
    height: 220px;
    object-fit: cover;

    margin-top: 0px;
    margin-left: 0px;
    /* for border of the picture */
    border-radius: 10%;

}

.content-section {
    /*margin-left: -30px; */
    max-width: 500px;
    
}

h1 {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.intro {
    /* margin-left: 0px; */
    font-size: 24px;

}

.content-section p {
    line-height: 1.6;

}

.links {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    padding-top: 25px;
    border-top: 2px solid #cccc;
}
.links a {
    /*display: block; */
    flex: 1;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #333;
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    transition: 0.2s;

}

.links a:hover {
    transform: translateY(-3px);
    
}

.coming-soon {
    color: #999 !important;

}